@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel

<!-- View: Formular zum Anlegen einer neuen Kategorie -->
<form method="post">
    <input asp-for ="Category.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <!-- Formularüberschrift -->
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>

        <!-- Zusammenfassung aller Validierungsfehler (Seiten-/Formularweit) -->
        @*<div asp-validation-summary="ModelOnly"></div>*@

        <!-- Feld: Kategoriename -->
        <div class="mb-3 row p-1">
            <!-- Beschriftung für Name -->
            <label asp-for="Category.Name" class="p-0"></label>
            <!-- Eingabe für Name -->
            <input asp-for="Category.Name" disabled class="form-control" />
            <!-- Validierungsnachricht für Name -->
        </div>

        <!-- Feld: Anzeige-Reihenfolge -->
        <div class="mb-3 row p-1">
            <!-- Beschriftung für DisplayOrder -->
            <label asp-for="Category.DisplayOrder" class="pt-0"></label>
            <!-- Eingabe für DisplayOrder -->
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
            <!-- Validierungsnachricht für DisplayOrder -->
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <!-- Formular absenden (Kategorie erstellen) -->
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <!-- Zurück zur Kategorien-Übersicht -->
                <a asp-page="/Categories/Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>


